#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_APPENDTEST
	bool "Append Test App"
	default n
	---help---
		Enable the Append Test App

config USER_ENTRYPOINT
	string
	default "appendtest_main" if ENTRY_APPENDTEST
